<?xml version="1.0" encoding="UTF-8"?>
<!--Found out how to do this on: http://www.avajava.com/tutorials/lessons/how-do-i-create-a-jsp-error-page-to-handle-particular-error-codes.html?page=1-->
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <jsp-file>/error.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/Instagrim/</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <error-page>
        <error-code>401</error-code>
        <location>/error.jsp</location>
    </error-page>
    
     <error-page>
        <error-code>402</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>403</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    
  <error-page>
        <error-code>405</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>406</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>407</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>408</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    
</web-app>
